@import "../../_src/sass/banner.scss";


/// _PREFIX___WIDTH_x_HEIGHT_


$width:   _WIDTH_px;
$height:  _HEIGHT_px;

*{
  margin: 0;
  padding: 0;
  outline: none;
}

body{
  background: gray;
}

#main{
  @include container($width, $height);

  #cta{
    @include cta(200px,100px,$width - 220px,$height - 120px);
  }

  #overlay{
    @include overlay($width, $height);
  }

  #bg{
    @include graphic($width, $height);
    @include banner-img("images/bg.jpg");
    @include opacity(1);
    z-index: 2;
  }
}

