@import "../../_src/sass/banner.scss";


/// _PREFIX___WIDTH_x_HEIGHT_


$width:   0px;
$height:  0px;

//Gulp Injects the correct Height and Width below.
//w_h_inject

*{
  margin: 0;
  padding: 0;
  outline: none;
}


img{
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: auto;
  -ms-interpolation-mode: nearest-neighbor;
}

body{
  background: black;
}

#main{
  @include container($width, $height);
}

#elements{
  display: none;

  #ctacont{
    @include cta(auto, auto);

  }

  #overlay{
    @include overlay($width, $height);
  }

  #cta{
    @include graphic-img(0,0);
    opacity: 0;
  }

  #bg{
    @include graphic-img(0,0);
    opacity: 1;
  }
}

