doctype html

html(lang='en')

    head

        meta(charset='UTF-8')

        title= "_PREFIX_ - _WIDTH_x_HEIGHT_ floating _EXP_W_x_EXP_H_"

        link(href = '_PREFIX___WIDTH_x_HEIGHT__exp__EXP_W_x_EXP_H_.min.css', rel = 'stylesheet')/

        script(src='https://s0.2mdn.net/ads/studio/Enabler.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
        script(src='https://s0.2mdn.net/ads/studio/cached_libs/tweenmax_1.18.0_499ba64a23378545748ff12d372e59e9_min.js')

        script
            | var clickTag = "";

    body

        #main

            #collapsed-panel

                #cta
                #overlay
                #bg

            #expanded-panel

                a#cta-exp(href='javascript:window.open(window.clickTag)')
                #close-exp
                #overlay-exp
                #bg-exp

        script(src='_PREFIX___WIDTH_x_HEIGHT__exp__EXP_W_x_EXP_H_.min.js')