doctype html

html(lang='en')

    head

        meta(charset='UTF-8')

        title= "Test - 728x90"

        link(href = 'Test_728x90.min.css', rel = 'stylesheet')/

        script(src='https://s0.2mdn.net/ads/studio/Enabler.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
        script(src='https://s0.2mdn.net/ads/studio/cached_libs/tweenmax_1.18.0_499ba64a23378545748ff12d372e59e9_min.js')
        script(src='https://s0.2mdn.net/ads/studio/cached_libs/easeljs_0.8.1_58add2e69ca7fbe25e8f82a2b5f6a510_min.js')

        script
            | var clickTag = "";

    body

        canvas#main(width=728,height=90)

        #elements

            #ctacont

                #cta
                #overlay

            img#logo(src="images/logo.png")
            img#boeing(src="images/boeing.png").ani-elem

            img#blur_club(src="images/club.png").ani-elem

            #scene_1_mask
            #scene_1

                img#txt_1(src="images/txt_1.png").ani-elem


            #scene_2_mask
            #scene_2

                img#txt_2(src="images/txt_2.png").ani-elem

            #scene_3_mask
            #scene_3

                img#txt_3(src="images/txt_3.png").ani-elem
                img#club(src="images/club.png").ani-elem

            img#bg(src="images/bg.png")

        script(src='Test_728x90.min.js')