doctype html


html(lang='en')
    head
        meta(charset='UTF-8')

        title= "Chuze -" + size

        link(href = size + '.css', rel = 'stylesheet')/

        script(src='https://s0.2mdn.net/ads/studio/Enabler.js')
        script(src='http://zeptojs.com/zepto.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js')

    body
        #main
            #cta
            #overlay
            #bg
            #words
                #clean.ani-elem
                #friendly.ani-elem
                #fun.ani-elem
                #price.ani-elem
                #start.ani-elem
        script(src=size+'.min.js')